* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.6;
}

body {
  background-color: #111;
}

.parent {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.card {
  width: 300px;
  border: 1px solid white;
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  background-color: #222;
}

.card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 50%;
}

p {
  padding: 20px 0;
}

.card button {
  padding: 10px 20px;
  background-color: white;
  color: black;
  border-radius: 5px;
}
