.Header {
  background-color: lightseagreen;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  margin: 5px;
}
.btn {
  font-size: 15px;
  padding: 5px 15px;
  border-radius: 4px;
  border: none;
  font-weight: 500;
  background-color: aliceblue;
}
