* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  color: #fff;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: sans-serif;
  line-height: 1.6;
  color: #333;
  background-color: #111;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 50px;
  text-decoration: underline;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: rgb(14, 125, 168);
}

.nav div {
  display: flex;
  align-items: center;
  gap: 40px;
}
